<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-icon name=" pizza"></ion-icon>
      <ion-label>Suprema</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src= "assets/images/chave.png"></ion-img>
      <ion-card-subtitle>Pizzas Saborosas</ion-card-subtitle>
    </ion-card-header>
  
  
    <ion-card-content  class="ion-text-justify">
     A Suprema ama o que faz e sabe que o brasileiro é apaixonado por pizzas. Por isso
     nossa missão é vender pizza com mais diversão.
    </ion-card-content>
  </ion-card>

   

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Segmentos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-item href="https://www.dominos.com.br/pages/order/menu#!/menu/category/viewall/" class="ion-activated">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </ion-item>

  <ion-item href="https://www.dominos.com.br/pages/order/menu#!/menu/category/viewall/" class="ion-activated">
    <ion-icon name="body" slot="start"></ion-icon>
    <ion-label>Login</ion-label>
    </ion-item>

   <ion-item href="https://www.dominos.com.br/pages/order/menu#!/menu/category/viewall/" class="ion-activated">
     <ion-icon name="call" slot="start"></ion-icon>
     <ion-label>Telefone</ion-label>
   </ion-item>

   <ion-item href="https://www.dominos.com.br/pages/order/menu#!/menu/category/viewall/" class="ion-activated">
     <ion-icon name="bicycle" slot="start"></ion-icon>
     <ion-label>Delivery</ion-label>
   </ion-item>


    

      
  

