<ion-header>
  <ion-toolbar>
    <ion-title>bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  ion-item-sliding>
      <ion-item>
        <ion-thumbnail slot ="start">
          <img src=" https://static1.casapraticaqualita.com.br/articles/2/77/2/@/809-a-pizza-de-calabresa-e-uma-das-mais-sabo-opengraph_1200-2.jpg">
        </ion-thumbnail>
        <ion-label>Pizza de Calabresa</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="openSite()" color="danger">
          <ion-icon slot="icon-only" name="Information-circle-outline"></ion-icon>

</ion-content>
